* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
}

body {
    min-height: 100vh;
    overflow: hidden;
    background-color: #f4f4f4;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    height: 550px;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.nav-bar {
    height: 100px;
    background-color: #181A18;
    color: #fbfaf5;
    align-items: center;
    display: flex;
    padding: 0px 20px;
}

.brgy-logo img {
    width: 100px;
    background-color: #fbfaf5;
}

.brgy-logo {
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 60%;
    width: 100%;
}

.date {
    display: flex;
    margin-left: 20px;
    justify-content: space-evenly;
    gap: 10px;
}

.wrapper-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 40px;
    gap: 100%;
    width: 100%;
}

.wrapper {
    background-color: #fbfaf5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 550px;
    border: 2px solid black;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .container p {
        flex-basis: 55%;
        text-align: center;
        font-size: 15px;
        line-height: 20px;
    }

.container img {
    width: 155px;
    height: 150px;
    margin: 15px 0px;
}

.input-box .btn {
    width: 70%;
    height: 25px;
    border: none;
    background-color: #0048ff;
    border-radius: 18px;
    font-size: 14px;
    padding: 0 20px 0 20px;
    color: white;
    margin-top: 20px;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

    .txtemail {
        width: 300px;
        height: 30px;
        border-radius: 12px;
        font-size: 14px;
        margin-top: 20px;
        border: 2px solid black;
        padding: 0 20px 0 20px;
    }
